<div class="containerLanguages">
  <div class="languageSelector">
    <button class="selectedLanguage" (click)="onLanguageSelectorClick()">
      <!-- Show selected language -->
      <img [src]="'assets/images/flags/flag_' + currentLanguage.toLowerCase() + '.png'" alt="{{ currentLanguage }} Flag" class="flagIcon">
      <span>{{ currentLanguage }}</span>
    </button>
    <ul class="languageOptions" *ngIf="showLanguageOptions">
      <!-- Language options -->
      <li *ngFor="let lang of availableLanguages" (click)="switchLanguage($event, lang)">
        <img [src]="getFlagImagePath(lang)" alt="{{ lang }} Flag" class="flagIcon">
        <span>{{ lang }}</span>
      </li>
    </ul>
  </div>
</div>
