/* Global styles or variables can go here */
.introEvents {
  text-align: center;
  // margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  transition: transform 1s ease-in-out;
  min-height: 100vh;


  h2 {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    color: #333;
  }

  p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    text-align: center;
    width: 75%;
    margin-bottom: 30px;
  }
}

#timeline {
  width: 80%;
  margin: 20px auto;
  position: relative;
  animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  transition: transform 1s ease-in-out;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -1px;
    width: 2px;
    height: 100%;
    background: black;
  }

  article {
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    div.inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40%;
      float: left;
      margin: 5px 0 0 0;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

      span.date {
        display: block;
        width: 60px;
        height: 50px;
        padding: 5px 0;
        position: absolute;
        top: 0;
        left: 50%;
        margin: 0 0 0 -32px;
        border-radius: 100%;
        font-size: 12px;
        text-transform: uppercase;
        background: #53ae47;
        color: rgba(255, 255, 255, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.2);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

        span {
          display: block;
          text-align: center;
        }

        span.day {
          font-size: 1em;
          color: #333;
        }

        span.month {
          font-size: 1.5em;
          color: #333;
        }

        span.year {
          font-size: 1em;
          color: #333;    
        }
      }

      h2 {
        padding: 15px;
        margin: 0;
        color: #333;
        font-size: 1.6em;
        text-align: center;
        text-transform: capitalize;
        border-radius: 10px 10px 0 0;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          top: 20px;
          right: -5px;
          width: 10px;
          height: 10px;
          transform: rotate(-45deg);
          background: inherit;
        }
      }

      .descEvent {
        width: 80%;
        text-align: center;
        margin: 30px 0px;
        line-height: 1.6;
        color: #555;
      }

      .eventInfo {
        width: 80%;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        color: #555;

        img {
          width: 35px;
          margin-right: 35px;
        }

        ul {
          margin: 0px ;
        }

        li {
          list-style: none;
        }
      }

      .linkGoogleMeeting {
        width: 100%;
        background-color: #53ae47;
        border-radius: 0 0 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #fff;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.05);
          }

          img {
            width: 50px; /* Increase the size of the Google Meet icon */
            margin-right: 15px;
          }

          span {
            font-size: 1.2em;
          }
        }
      }
    }

    &:nth-child(2n+2) div.inner {
      float: right;

      h2:after {
        left: -5px;
      }
    }

    & div.inner h2 {
      background: #53ae47;
      width: 100%;
    }
  }
}
@media (max-width: 768px) {
  .introEvents {
    padding: 80px 0;
    p {
      width: 80%;
    }
  }
  #timeline {
    width: 100%;
    margin: 20px auto;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;  

    &:before {
      display: none; 
    }

    article {
      width: 100%;
      margin: 0 0 20px 0;
      position: relative;

      div.inner {
        width: 80%;
        border-radius: 0px 0 10px 10px;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 39px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

        .descEvent {
          width: 90%;
        }
        .date {
          position: static !important;
          margin: 10px 0px 10px 0px !important;
        }

        /* Other styles for your events */

        .linkGoogleMeeting {
          width: 100%;
          border-radius: 0px 0 10px 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px 0;

          a {
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: #fff;

            img {
              width: 40px; /* Adjust the size of the Google Meet icon */
              margin-right: 0;
            }

            span {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}