<!-- events timeline -->
<div class="introEvents">
  <h2>{{ 'LINGUA_EVENTS_TITLE' | translate }}</h2>
 <p>{{ 'EVENTS_DESCRIPTION' | translate }}</p>
</div>

<section id="timeline">
 <article *ngFor="let event of eventsCalendar">
   <div class="inner">

     <span class="date">
       <span class="day">{{ formatDate(event.start, 'day') }}</span>
       <span class="month">{{ formatDate(event.start, 'month') }}</span>
       <span class="year">{{ formatDate(event.start, 'year') }}</span>
     </span>

     <h2>{{ 'SPECIFIC_EVENTS_TITLE' | translate: { language: event.language, activity: event.activity } }}</h2>

     <div class="descEvent">
       <p>{{ 'SPECIFIC_EVENTS_DESCRIPTION' | translate: { language: event.language, activity: event.activity } }}</p>
     </div>

     <div class="eventInfo">
       <img [src]="locationImagePath" alt="location Lingua Nature events">
       <p><strong>{{ event.location }}</strong></p>
     </div>

     <div class="eventInfo">
       <img [src]="timeIntervalEventImagePath" alt="Lingua Nature events start and end event">
       <p><strong>{{ 'START_AT' | translate }} {{ formatTime(event.start) }} |---| {{ 'END_AT' | translate }} {{ formatTime(event.end) }}</strong></p>
     </div>

     <div class="eventInfo">
       <img [src]="creatorImagePath" alt="Lingua Nature events creator">
       <p> <strong>Annabela: {{ event.creator }} </strong></p>
     </div>

     <div class="linkGoogleMeeting" *ngIf="event.googleMeetLink">
       <a [href]="event.googleMeetLink" target="_blank">
         <img [src]="googleMeetImagePath" alt="Lingua Nature event meeting" width="40px">
         <span>{{ 'JOIN_US_LIVE' | translate }}</span>
       </a>
     </div>
   </div>
 </article>
</section>
