<div class="homeContainer">

<div class="vitrine">
  <div class="content_vitrine">
    <p>Lingua Nature</p> 
  </div>
</div>

<!-- what is lingua -->
<div class="container">
  <div class="content">
    <h1>{{ 'WHAT_IS_LINGUA_NATURE' | translate }}</h1>
    <p class="description">
      {{ 'WHAT_IS_LINGUA_NATURE_DESCRIPTION' | translate }}
    </p>
  </div>
  <div class="media"></div>
</div>

<!-- Lingua services -->
<div class="containerServices">
  <div class="TitleServices">
    {{ 'SERVICES_TITLE' | translate }}
  </div>
  <div class="def">
    {{ 'WELCOME_MESSAGE' | translate }}
  </div>
  <div class="Services">
    <div class="serviceCard languageFacilitation">
      <div class="imgContainer">
        <img [src]="languageFacilitationImagePath" alt="Language Facilitation">
      </div>
      <h2>{{ 'LANGUAGE_FACILITATION' | translate }}</h2>
      <p>{{ 'LANGUAGE_FACILITATION_DESCRIPTION' | translate }}</p>
    </div>
    <div class="serviceCard consulting">
      <div class="imgContainer">
        <img [src]="ConsultingImagePath" alt="Consulting">
      </div>
      <h2>{{ 'CONSULTING' | translate }}</h2>
      <p>{{ 'CONSULTING_DESCRIPTION' | translate }}</p>
    </div>
    <div class="serviceCard individualCourses">
      <div class="imgContainer">
        <img [src]="individualCoursesImagePath" alt="Individual Courses">
      </div>
      <h2>{{ 'INDIVIDUAL_COURSES' | translate }}</h2>
      <p>{{ 'INDIVIDUAL_COURSES_DESCRIPTION' | translate }}</p>
    </div>
    <div class="serviceCard summerCamp">
      <div class="imgContainer">
        <img [src]="summerCampImagePath" alt="Summer Camp">
      </div>
      <h2>{{ 'SUMMER_CAMP' | translate }}</h2>
      <p>{{ 'SUMMER_CAMP_DESCRIPTION' | translate }}</p>
    </div>
  </div>
</div>

<!-- Lingua team -->
<div class="responsive-container-block container">
  <p class="text-blk team-head-text">{{ 'OUR_TEAM' | translate }}</p>
  <div class="responsive-container-block">
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png">
        </div>
        <p class="text-blk name">{{ 'DAVIS_GEORGE' | translate }}</p>
        <p class="text-blk position">{{ 'CEO' | translate }}</p>
        <p class="text-blk feature-text">{{ 'LANGUAGES_LEARNING' | translate }}</p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="social_media_icon" [src]="xImagePath" alt="X">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="social_media_icon" [src]="facebookImagePath" alt="facebook">
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <img class="social_media_icon" [src]="instagramImagePath" alt="instagram">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="social_media_icon" [src]="whatsAppImagePath" alt="whatsapp">
          </a>
        </div>
      </div>
    </div>

    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert2.png">
        </div>
        <p class="text-blk name">{{ 'DAVIS_GEORGE' | translate }}</p>
        <p class="text-blk position">{{ 'CEO' | translate }}</p>
        <p class="text-blk feature-text">{{ 'LANGUAGES_LEARNING' | translate }}</p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="social_media_icon" [src]="xImagePath" alt="X">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="social_media_icon" [src]="facebookImagePath" alt="facebook">
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <img class="social_media_icon" [src]="instagramImagePath" alt="instagram">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="social_media_icon" [src]="whatsAppImagePath" alt="whatsapp">
          </a>
        </div>
      </div>
    </div>

    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.14.png">        </div>
        <p class="text-blk name">{{ 'DAVIS_GEORGE' | translate }}</p>
        <p class="text-blk position">{{ 'CEO' | translate }}</p>
        <p class="text-blk feature-text">{{ 'LANGUAGES_LEARNING' | translate }}</p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="social_media_icon" [src]="xImagePath" alt="X">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="social_media_icon" [src]="facebookImagePath" alt="facebook">
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <img class="social_media_icon" [src]="instagramImagePath" alt="instagram">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="social_media_icon" [src]="whatsAppImagePath" alt="whatsapp">
          </a>
        </div>
      </div>
    </div>

    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.15.png">        </div>
        <p class="text-blk name">{{ 'DAVIS_GEORGE' | translate }}</p>
        <p class="text-blk position">{{ 'CEO' | translate }}</p>
        <p class="text-blk feature-text">{{ 'LANGUAGES_LEARNING' | translate }}</p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="social_media_icon" [src]="xImagePath" alt="X">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="social_media_icon" [src]="facebookImagePath" alt="facebook">
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <img class="social_media_icon" [src]="instagramImagePath" alt="instagram">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="social_media_icon" [src]="whatsAppImagePath" alt="whatsapp">
          </a>
        </div>
      </div>
    </div>

    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert2.png">
        </div>
        <p class="text-blk name">{{ 'DAVIS_GEORGE' | translate }}</p>
        <p class="text-blk position">{{ 'CEO' | translate }}</p>
        <p class="text-blk feature-text">{{ 'LANGUAGES_LEARNING' | translate }}</p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="social_media_icon" [src]="xImagePath" alt="X">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="social_media_icon" [src]="facebookImagePath" alt="facebook">
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <img class="social_media_icon" [src]="instagramImagePath" alt="instagram">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="social_media_icon" [src]="whatsAppImagePath" alt="whatsapp">
          </a>
        </div>
      </div>
    </div>

    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.14.png">        </div>
        <p class="text-blk name">{{ 'DAVIS_GEORGE' | translate }}</p>
        <p class="text-blk position">{{ 'CEO' | translate }}</p>
        <p class="text-blk feature-text">{{ 'LANGUAGES_LEARNING' | translate }}</p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="social_media_icon" [src]="xImagePath" alt="X">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="social_media_icon" [src]="facebookImagePath" alt="facebook">
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <img class="social_media_icon" [src]="instagramImagePath" alt="instagram">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="social_media_icon" [src]="whatsAppImagePath" alt="whatsapp">
          </a>
        </div>
      </div>
    </div>

    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.15.png">        </div>
        <p class="text-blk name">{{ 'DAVIS_GEORGE' | translate }}</p>
        <p class="text-blk position">{{ 'CEO' | translate }}</p>
        <p class="text-blk feature-text">{{ 'LANGUAGES_LEARNING' | translate }}</p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="social_media_icon" [src]="xImagePath" alt="X">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="social_media_icon" [src]="facebookImagePath" alt="facebook">
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <img class="social_media_icon" [src]="instagramImagePath" alt="instagram">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="social_media_icon" [src]="whatsAppImagePath" alt="whatsapp">
          </a>
        </div>
      </div>
    </div>

    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png">
        </div>
        <p class="text-blk name">{{ 'DAVIS_GEORGE' | translate }}</p>
        <p class="text-blk position">{{ 'CEO' | translate }}</p>
        <p class="text-blk feature-text">{{ 'LANGUAGES_LEARNING' | translate }}</p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="social_media_icon" [src]="xImagePath" alt="X">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="social_media_icon" [src]="facebookImagePath" alt="facebook">
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <img class="social_media_icon" [src]="instagramImagePath" alt="instagram">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="social_media_icon" [src]="whatsAppImagePath" alt="whatsapp">
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- about me -->
<div class="about-me-section">
  <div class="about-me-content">
    <div class="about-me-text">
      <h2>{{ 'ABOUT_ANNA' | translate }}</h2>
      <p>{{ 'ANNA_INTRODUCTION_1' | translate }}</p>
      <p>{{ 'ANNA_INTRODUCTION_2' | translate }}</p>
    </div>
    <div class="about-me-image">
      <img [src]="annabellaImagePath" alt="Annabela">
    </div>
  </div>
</div>

<!-- testimonials.component.html -->
<div class="testimonials-container">
  <div class="intro-testimonials">
    <div class="title-services">
      Testimonials
    </div>
    <div class="description">
      Our language learning app offers a diverse approach to language learning, catering to different learning styles.
    </div>
  </div>
  <div class="all-testimonials">
    <div *ngFor="let testimonial of testimonials" class="testimonial-card">
      <div class="avatar">
        <img [src]="testimonial.avatar" alt="User Avatar">
      </div>
      <div class="content">
        <p class="quote">{{ testimonial.quote }}</p>
        <p class="author">{{ testimonial.author }}</p>
      </div>
    </div>
  </div>
</div>

</div>


  